.mainContainer {
  width: 100vw;
  min-height: 500px;
  background-color: rgb(193, 179, 179);
  display: flex;
  /* justify-content: space-evenly; */
}

.userimg {
  margin-left: 500px;
}

.userinfo {
  margin-top: 50px;
  margin-left: 50px;
}

.follow {
  margin-right: 450px;
  margin-top: 10px;
}
